---
layout: layouts/layout.njk
permalink: /contact/
---


<section class="section">
    <div class="container">
    <h3 class="text-center contact_titre">Contactez-nous</h3><br/>
    <div class="row">
      <div class="col-md-8">
          <form action="/post" method="post" name="contact" netlify>
            <input class="form-control" name="name" placeholder="Nom" /><br />
            <input class="form-control" name="email" placeholder="E-mail" /><br />
            <textarea class="form-control" name="text" placeholder="Message" style="height:150px;"></textarea><br />
            <input class="btn contact_btn" type="submit" value="Envoyer" /><br /><br />
          </form>
      </div>
      <div class="col-md-4 contact_info">
        <h5>Contact Info:</h5>
        <p><span>Téléphone:</span> 01.47.00.47.00</p>
        <p><span>e-mail:</span> <a href="mailto:support@mysite.com">photographeJ-C@gmail.com</a></p>
        <br /><br />

        <h5>Adresse:</h5>
        <p>Atelier photoraphe J-C, <br />
        201, rue de la paix<br />
        75001 Paris<br /></p>
      </div>
    </div>
  </div>
</section>
