---
layout: layouts/layout.njk
permalink: /galerie/
---


<section class="section-1">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center my-2">
                <h4>Galeries photos</h4>
        </div>
    </div>
    <div class="portfolio-menu mt-2 mb-4">
        <ul>
        	<li class="btn btn-outline-dark active" data-filter="*">All</li>
            <li class="btn btn-outline-dark" data-filter=".mariage">Mariage</li>
            <li class="btn btn-outline-dark" data-filter=".grossesse">Grossesse</li>
            <li class="btn btn-outline-dark" data-filter=".bébé">Bébé</li>
            <li class="btn btn-outline-dark" data-filter=".famille">Famille</li>
            <li class="btn btn-outline-dark" data-filter=".bapteme">Baptême</li>
            <li class="btn btn-outline-dark" data-filter=".couple">Couple</li>
            <li class="btn btn-outline-dark text" data-filter=".portrait">Portrait</li>
        </ul>
    </div>
    <div class="portfolio-item row">

		{% set mariage = collections.mariage %}
		{% include "mariage.njk" %}
		{% set grossesse = collections.grossesse %}
		{% include "grossesse.njk" %}
        {% set bebe = collections.bebe %}
		{% include "bebe.njk" %}
        {% set famille = collections.famille %}
		{% include "famille.njk" %}
        {% set bapteme = collections.bapteme %}
		{% include "bapteme.njk" %}
        {% set couple = collections.couple %}
		{% include "couple.njk" %}
        {% set portrait = collections.portrait %}
		{% include "portrait.njk" %}


	</div>
</div>	
</section>

