---
layout: layouts/layout.njk
permalink: /
---




 <!-- Start : First section -->
<section class="cover background">
    <div class="cover__title"> 
        <h1>Charles Cantin</h1>
        <h2>Photographe</h2>              
    </div>  
</section>
<!-- End : First section -->





      
      






