---
layout: layouts/layout.njk
permalink: /
---
    <!-- Start : First section -->
       <section class="cover background">
           <div class="cover__title"> 
               <h1>Ma page d'accueil</h1>
               <p>L'association qui met en valeur les savoir-faire et les métiers</p>
          </div>  
       </section>
    <!-- End : First section -->






