---
layout: layouts/layout.njk
permalink: /posts-2/
---
{% set postslist = collections.posts %}
{% include "postslist.njk" %}



 <section class="portfolio" id="portfolio">
	<div class="container-fluid">
		<div class="row">

			<div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h1 class="gallery-title">Gallery</h1>
			</div>

			<div align="center">
				<button class="filter-button" data-filter="all">All</button>
				<button class="filter-button" data-filter="category1">Designing</button>
				<button class="filter-button" data-filter="category2">Development</button>
				<button class="filter-button" data-filter="category3">Graphics</button>
			</div>
			
			<br/>

        {% set mariage = collections.mariage %}
		{% include "mariage.njk" %}

		{% set grossesse = collections.grossesse %}
		{% include "grossesse.njk" %}

            <br/>
		</div>
	</div>
</section>