---
layout: layouts/layout.njk
permalink: /tarifs-prestations/
---
<div class="row row-cols-1 row-cols-md-2 row-cols-xs-1 row-cols-sm-1 g-4 section-1">

    {% set tarifsPrestations = collections.tarifsPrestations %}
    {% include "tarifsPrestations.njk" %}

</div>
