{% for post in couple %}
	<div class="item couple col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a href="{{ post.data.featuredImage }}" class="fancylight popup-btn" data-fancybox-group="light"> 
        	<img class="img-fluid img-thumbnail" src="{{ post.data.featuredImage }}" alt="{{ featuredImage }}">
        </a>
    </div>
{% endfor %}