---
  layout: layouts/layout.njk
---

	<div class="item grossesse col-lg-3 col-md-4 col-6 col-sm">
        <a href="{{ post.data.featuredImage }}" class="fancylight popup-btn" data-fancybox-group="light"> 
        	<img class="img-fluid" src="{{ post.data.featuredImage }}" alt="{{ featuredImage }}">
        </a>
    </div>