---
  layout: layouts/layout.njk
---
  
  <div class="gallery_product col-sm-3 col-xs-6 filter category1">
                <a class="fancybox" rel="ligthbox" href="{{ featuredImage | url }}">
                    <img class="img-responsive" alt="{{ featuredImage }}" src="{{ featuredImage | url }}" />
                    <div class='img-info'>
                        <h4>{{ title }}</h4>
						<p>{{ description }}</p>
                        <p>{{ content | safe }}</p>
                    </div>
                </a>
            </div>
