<footer class="footer">
    <div class="footer__network">
        <a href="#"><img src="/images/uploads/footer/facebook.png"></a>
        <a href="#"><img src="/images/uploads/footer/twitter.png"></a>
        <a href="#"><img src="/images/uploads/footer/instagram.png"></a>
    </div>
    <div class="footer__mention">
        <a href="#">Politique de cookies</a>
        <a href="#">Politique de confidentialité</a>
        <a href="#">Mention légales</a>
    </div>
    <p class="footer__made">©Copyright 2023 | par Hatim M, Developpeur Web Junior |<a href="https://www.studi.com/fr"> Studi School</p>
</footer>