<!DOCTYPE html>
  <html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Charles Cantin - Photographe - Créateur de souvenir">
    <title>Phototgraphe J-C </title>

    <!-- Start : Import typo google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Nova+Mono&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- End : Import typo google font--> 

    <!-- Start : Import bootsrap-->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-- End : Import bootsrap-->

    <!-- Start : Import CSS-->
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    <!-- End : Import CSS-->

    <!-- Start : Import script connexion Netlify CMS-->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <!-- End : Import script connexion Netlify CMS-->

  </head>
  <body>
    <header>
      {% include "layouts/header.njk" %}
    </header>
  <main>
        {{ content | safe }}
  </main>
    <section>
        {% include "layouts/footer.njk" %}
    </section>

      
    <!-- Start : Import script bootsrap-->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- End : Import bootsrap-->

    <!-- Start : libs javascript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
    <!-- End : libs javascript-->

  	<script src="/JavaScript/script.js"></script>

  </body>
</html>